In [6]:
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
spark =  SparkSession.builder.appName('my-spark').getOrCreate()

In [3]:
spark

### Read CSV |

In [7]:
df_pandas = pd.read_csv("data/weatherAUS.csv")
df_pandas

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [30]:
df_spark = spark.read.csv("data/weatherAUS.csv", header = True, inferSchema=True)

In [31]:
df_spark.show()

+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Evaporation|Sunshine|WindGustDir|WindGustSpeed|WindDir9am|WindDir3pm|WindSpeed9am|WindSpeed3pm|Humidity9am|Humidity3pm|Pressure9am|Pressure3pm|Cloud9am|Cloud3pm|Temp9am|Temp3pm|RainToday|RainTomorrow|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|         NA|      NA|          W|           44|         W|       WNW|          20|          24|         71|         22|     1007.7|     1007.1|       8|      NA|   16.9|   21.8|       No|          No|
|2008-12-02|  Albury|    7.4|   25.1|       0|         NA|      NA|        WNW|           44|       NNW|       WSW|           4|          22|         44|         25|     1010.6|     1007.8|      NA|      NA|   17.2|   24.3|       No|          No|
|2008-12-03|  Albury|   12.9|   25.7|       0|         NA|      NA|        WSW|           46|         W|       WSW|          19|          26|         38|         30|     1007.6|     1008.7|      NA|       2|     21|   23.2|       No|          No|
|2008-12-04|  Albury|    9.2|     28|       0|         NA|      NA|         NE|           24|        SE|         E|          11|           9|         45|         16|     1017.6|     1012.8|      NA|      NA|   18.1|   26.5|       No|          No|
|2008-12-05|  Albury|   17.5|   32.3|       1|         NA|      NA|          W|           41|       ENE|        NW|           7|          20|         82|         33|     1010.8|       1006|       7|       8|   17.8|   29.7|       No|          No|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|         NA|      NA|        WNW|           56|         W|         W|          19|          24|         55|         23|     1009.2|     1005.4|      NA|      NA|   20.6|   28.9|       No|          No|
|2008-12-07|  Albury|   14.3|     25|       0|         NA|      NA|          W|           50|        SW|         W|          20|          24|         49|         19|     1009.6|     1008.2|       1|      NA|   18.1|   24.6|       No|          No|
|2008-12-08|  Albury|    7.7|   26.7|       0|         NA|      NA|          W|           35|       SSE|         W|           6|          17|         48|         19|     1013.4|     1010.1|      NA|      NA|   16.3|   25.5|       No|          No|
|2008-12-09|  Albury|    9.7|   31.9|       0|         NA|      NA|        NNW|           80|        SE|        NW|           7|          28|         42|          9|     1008.9|     1003.6|      NA|      NA|   18.3|   30.2|       No|         Yes|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|         NA|      NA|          W|           28|         S|       SSE|          15|          11|         58|         27|       1007|     1005.7|      NA|      NA|   20.1|   28.2|      Yes|          No|
|2008-12-11|  Albury|   13.4|   30.4|       0|         NA|      NA|          N|           30|       SSE|       ESE|          17|           6|         48|         22|     1011.8|     1008.7|      NA|      NA|   20.4|   28.8|       No|         Yes|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|         NA|      NA|        NNE|           31|        NE|       ENE|          15|          13|         89|         91|     1010.5|     1004.2|       8|       8|   15.9|     17|      Yes|         Yes|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|         NA|      NA|          W|           61|       NNW|       NNW|          28|          28|         76|         93|      994.3|        993|       8|       8|   17.4|   15.8|      Yes|         Yes|
|2008-12-14|  Albury|   12.6|     21|     3.6|         NA|      NA|         SW|           44|         W|       SSW|          24|          20|         65|         43|     1001.2|     1001.8|      NA|       7|   15.8|   19.8|      Yes|          No|
|2008-12-15|  Albury|    8.4|   24.6|       0|         NA|      NA|         NA|           NA|         S|       WNW|           4|          30|         57|         32|     1009.7|     1008.7|      NA|      NA|   15.9|   23.5|       No|          NA|
|2008-12-16|  Albury|    9.8|   27.7|      NA|         NA|      NA|        WNW|           50|        NA|       WNW|          NA|          22|         50|         28|     1013.4|     1010.3|       0|      NA|   17.3|   26.2|       NA|          No|
|2008-12-17|  Albury|   14.1|   20.9|       0|         NA|      NA|        ENE|           22|       SSW|         E|          11|           9|         69|         82|     1012.2|     1010.4|       8|       1|   17.2|   18.1|       No|         Yes|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|         NA|      NA|          W|           63|         N|       WNW|           6|          20|         80|         65|     1005.8|     1002.2|       8|       1|     18|   21.5|      Yes|         Yes|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|         NA|      NA|        SSE|           43|       WSW|        SW|          24|          17|         47|         32|     1009.4|     1009.7|      NA|       2|   15.5|     21|      Yes|          No|
|2008-12-20|  Albury|    9.8|   25.6|       0|         NA|      NA|        SSE|           26|        SE|       NNW|          17|           6|         45|         26|     1019.2|     1017.1|      NA|      NA|   15.8|   23.2|       No|          No|
+----------+--------+-------+-------+--------+-----------+--------+-----------+-------------+----------+----------+------------+------------+-----------+-----------+-----------+-----------+--------+--------+-------+-------+---------+------------+
only showing top 20 rows

### Drop Columns

In [ ]:
df_spark =  df_spark.drop(*['Pressure9am', 'Pressure3pm', 'Cloud9am', 'Evaporation', 'Sunshine', 'WindDir9am', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm'])

In [61]:
df_spark =  df_spark.drop(*['RainTomorrow', 'WindGustDir', 'Cloud3pm'])

In [62]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [63]:
df_spark.head(5)

[Row(Date=datetime.date(2008, 12, 1), Location='Albury', MinTemp='13.4', MaxTemp='22.9', Rainfall='0.6', WindGustSpeed='44', Humidity9am='71', Humidity3pm='22', Temp9am='16.9', Temp3pm='21.8', RainToday='No', Range=9.499999999999998),
 Row(Date=datetime.date(2008, 12, 2), Location='Albury', MinTemp='7.4', MaxTemp='25.1', Rainfall='0', WindGustSpeed='44', Humidity9am='44', Humidity3pm='25', Temp9am='17.2', Temp3pm='24.3', RainToday='No', Range=17.700000000000003),
 Row(Date=datetime.date(2008, 12, 3), Location='Albury', MinTemp='12.9', MaxTemp='25.7', Rainfall='0', WindGustSpeed='46', Humidity9am='38', Humidity3pm='30', Temp9am='21', Temp3pm='23.2', RainToday='No', Range=12.799999999999999),
 Row(Date=datetime.date(2008, 12, 4), Location='Albury', MinTemp='9.2', MaxTemp='28', Rainfall='0', WindGustSpeed='24', Humidity9am='45', Humidity3pm='16', Temp9am='18.1', Temp3pm='26.5', RainToday='No', Range=18.8),
 Row(Date=datetime.date(2008, 12, 5), Location='Albury', MinTemp='17.5', MaxTemp='32.3', Rainfall='1', WindGustSpeed='41', Humidity9am='82', Humidity3pm='33', Temp9am='17.8', Temp3pm='29.7', RainToday='No', Range=14.799999999999997)]

In [64]:
df_spark.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Location: string (nullable = true)
 |-- MinTemp: string (nullable = true)
 |-- MaxTemp: string (nullable = true)
 |-- Rainfall: string (nullable = true)
 |-- WindGustSpeed: string (nullable = true)
 |-- Humidity9am: string (nullable = true)
 |-- Humidity3pm: string (nullable = true)
 |-- Temp9am: string (nullable = true)
 |-- Temp3pm: string (nullable = true)
 |-- RainToday: string (nullable = true)
 |-- Range: double (nullable = true)

In [65]:
df_spark.columns

['Date',
 'Location',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'WindGustSpeed',
 'Humidity9am',
 'Humidity3pm',
 'Temp9am',
 'Temp3pm',
 'RainToday',
 'Range']

### Select Columns

In [66]:
df_spark.select(['Date', 'MinTemp', 'Location']).show()

+----------+-------+--------+
|      Date|MinTemp|Location|
+----------+-------+--------+
|2008-12-01|   13.4|  Albury|
|2008-12-02|    7.4|  Albury|
|2008-12-03|   12.9|  Albury|
|2008-12-04|    9.2|  Albury|
|2008-12-05|   17.5|  Albury|
|2008-12-06|   14.6|  Albury|
|2008-12-07|   14.3|  Albury|
|2008-12-08|    7.7|  Albury|
|2008-12-09|    9.7|  Albury|
|2008-12-10|   13.1|  Albury|
|2008-12-11|   13.4|  Albury|
|2008-12-12|   15.9|  Albury|
|2008-12-13|   15.9|  Albury|
|2008-12-14|   12.6|  Albury|
|2008-12-15|    8.4|  Albury|
|2008-12-16|    9.8|  Albury|
|2008-12-17|   14.1|  Albury|
|2008-12-18|   13.5|  Albury|
|2008-12-19|   11.2|  Albury|
|2008-12-20|    9.8|  Albury|
+----------+-------+--------+
only showing top 20 rows

In [67]:
df_spark.dtypes

[('Date', 'date'),
 ('Location', 'string'),
 ('MinTemp', 'string'),
 ('MaxTemp', 'string'),
 ('Rainfall', 'string'),
 ('WindGustSpeed', 'string'),
 ('Humidity9am', 'string'),
 ('Humidity3pm', 'string'),
 ('Temp9am', 'string'),
 ('Temp3pm', 'string'),
 ('RainToday', 'string'),
 ('Range', 'double')]

In [68]:
df_spark.describe().show()

+-------+--------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+---------+------------------+
|summary|Location|           MinTemp|           MaxTemp|         Rainfall|     WindGustSpeed|       Humidity9am|      Humidity3pm|           Temp9am|           Temp3pm|RainToday|             Range|
+-------+--------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+---------+------------------+
|  count|  145460|            145460|            145460|           145460|            145460|            145460|           145460|            145460|            145460|   145460|            143579|
|   mean|    NULL|12.194034380968981|23.221348275647017| 2.36091814991655| 40.03523007167319| 68.88083133761887| 51.5391158755046|16.990631415587327|21.683390318009845|     NULL|11.029981403965817|
| stddev|    NULL| 6.398494975663194| 7.119048845979138|8.478059737726397|13.607062267381362|19.029164451844146|20.79590165602108| 6.488753140877246| 6.936650460035525|     NULL| 4.949355155946771|
|    min|Adelaide|              -0.1|              -0.1|                0|               100|                 0|                0|              -0.1|              -0.1|       NA|               0.0|
|    max| Woomera|                NA|                NA|               NA|                NA|                NA|               NA|                NA|                NA|      Yes|31.200000000000003|
+-------+--------+------------------+------------------+-----------------+------------------+------------------+-----------------+------------------+------------------+---------+------------------+

### Create new column

In [111]:
from pyspark.sql.functions import round 
df_spark = df_spark.withColumn("Range", round(df_spark['MaxTemp']- df_spark['MinTemp'],1))

In [112]:
df_spark.show()

+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       44|         71|         22|   16.9|   21.8|       No|  9.5|
|2008-12-02|  Albury|    7.4|   25.1|       0|       44|         44|         25|   17.2|   24.3|       No| 17.7|
|2008-12-03|  Albury|   12.9|   25.7|       0|       46|         38|         30|     21|   23.2|       No| 12.8|
|2008-12-04|  Albury|    9.2|     28|       0|       24|         45|         16|   18.1|   26.5|       No| 18.8|
|2008-12-05|  Albury|   17.5|   32.3|       1|       41|         82|         33|   17.8|   29.7|       No| 14.8|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       56|         55|         23|   20.6|   28.9|       No| 15.1|
|2008-12-07|  Albury|   14.3|     25|       0|       50|         49|         19|   18.1|   24.6|       No| 10.7|
|2008-12-08|  Albury|    7.7|   26.7|       0|       35|         48|         19|   16.3|   25.5|       No| 19.0|
|2008-12-09|  Albury|    9.7|   31.9|       0|       80|         42|          9|   18.3|   30.2|       No| 22.2|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       28|         58|         27|   20.1|   28.2|      Yes| 17.0|
|2008-12-11|  Albury|   13.4|   30.4|       0|       30|         48|         22|   20.4|   28.8|       No| 17.0|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-15|  Albury|    8.4|   24.6|       0|     NULL|         57|         32|   15.9|   23.5|       No| 16.2|
|2008-12-16|  Albury|    9.8|   27.7|    NULL|       50|         50|         28|   17.3|   26.2|     NULL| 17.9|
|2008-12-17|  Albury|   14.1|   20.9|       0|       22|         69|         82|   17.2|   18.1|       No|  6.8|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       43|         47|         32|   15.5|     21|      Yes| 11.3|
|2008-12-20|  Albury|    9.8|   25.6|       0|       26|         45|         26|   15.8|   23.2|       No| 15.8|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

In [113]:
## Rename column
df_spark = df_spark.withColumnRenamed('WindGustSpeed', 'Windspeed')
df_spark.show()

+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       44|         71|         22|   16.9|   21.8|       No|  9.5|
|2008-12-02|  Albury|    7.4|   25.1|       0|       44|         44|         25|   17.2|   24.3|       No| 17.7|
|2008-12-03|  Albury|   12.9|   25.7|       0|       46|         38|         30|     21|   23.2|       No| 12.8|
|2008-12-04|  Albury|    9.2|     28|       0|       24|         45|         16|   18.1|   26.5|       No| 18.8|
|2008-12-05|  Albury|   17.5|   32.3|       1|       41|         82|         33|   17.8|   29.7|       No| 14.8|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       56|         55|         23|   20.6|   28.9|       No| 15.1|
|2008-12-07|  Albury|   14.3|     25|       0|       50|         49|         19|   18.1|   24.6|       No| 10.7|
|2008-12-08|  Albury|    7.7|   26.7|       0|       35|         48|         19|   16.3|   25.5|       No| 19.0|
|2008-12-09|  Albury|    9.7|   31.9|       0|       80|         42|          9|   18.3|   30.2|       No| 22.2|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       28|         58|         27|   20.1|   28.2|      Yes| 17.0|
|2008-12-11|  Albury|   13.4|   30.4|       0|       30|         48|         22|   20.4|   28.8|       No| 17.0|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-15|  Albury|    8.4|   24.6|       0|     NULL|         57|         32|   15.9|   23.5|       No| 16.2|
|2008-12-16|  Albury|    9.8|   27.7|    NULL|       50|         50|         28|   17.3|   26.2|     NULL| 17.9|
|2008-12-17|  Albury|   14.1|   20.9|       0|       22|         69|         82|   17.2|   18.1|       No|  6.8|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       43|         47|         32|   15.5|     21|      Yes| 11.3|
|2008-12-20|  Albury|    9.8|   25.6|       0|       26|         45|         26|   15.8|   23.2|       No| 15.8|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

### Drop NA rows

In [114]:
df_spark.na.drop().show()

+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       44|         71|         22|   16.9|   21.8|       No|  9.5|
|2008-12-02|  Albury|    7.4|   25.1|       0|       44|         44|         25|   17.2|   24.3|       No| 17.7|
|2008-12-03|  Albury|   12.9|   25.7|       0|       46|         38|         30|     21|   23.2|       No| 12.8|
|2008-12-04|  Albury|    9.2|     28|       0|       24|         45|         16|   18.1|   26.5|       No| 18.8|
|2008-12-05|  Albury|   17.5|   32.3|       1|       41|         82|         33|   17.8|   29.7|       No| 14.8|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       56|         55|         23|   20.6|   28.9|       No| 15.1|
|2008-12-07|  Albury|   14.3|     25|       0|       50|         49|         19|   18.1|   24.6|       No| 10.7|
|2008-12-08|  Albury|    7.7|   26.7|       0|       35|         48|         19|   16.3|   25.5|       No| 19.0|
|2008-12-09|  Albury|    9.7|   31.9|       0|       80|         42|          9|   18.3|   30.2|       No| 22.2|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       28|         58|         27|   20.1|   28.2|      Yes| 17.0|
|2008-12-11|  Albury|   13.4|   30.4|       0|       30|         48|         22|   20.4|   28.8|       No| 17.0|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-17|  Albury|   14.1|   20.9|       0|       22|         69|         82|   17.2|   18.1|       No|  6.8|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       43|         47|         32|   15.5|     21|      Yes| 11.3|
|2008-12-20|  Albury|    9.8|   25.6|       0|       26|         45|         26|   15.8|   23.2|       No| 15.8|
|2008-12-21|  Albury|   11.5|   29.3|       0|       24|         56|         28|   19.1|   27.3|       No| 17.8|
|2008-12-22|  Albury|   17.1|     33|       0|       43|         38|         28|   24.5|   31.6|       No| 15.9|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

###### In the above cell, we tried to drop Null values but there were some NAs acting as a string. Imposters!
###### Hence, lets transform them into Nulls

In [115]:
df_spark = df_spark.replace({'NA': None})
df_spark.show()

+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       44|         71|         22|   16.9|   21.8|       No|  9.5|
|2008-12-02|  Albury|    7.4|   25.1|       0|       44|         44|         25|   17.2|   24.3|       No| 17.7|
|2008-12-03|  Albury|   12.9|   25.7|       0|       46|         38|         30|     21|   23.2|       No| 12.8|
|2008-12-04|  Albury|    9.2|     28|       0|       24|         45|         16|   18.1|   26.5|       No| 18.8|
|2008-12-05|  Albury|   17.5|   32.3|       1|       41|         82|         33|   17.8|   29.7|       No| 14.8|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       56|         55|         23|   20.6|   28.9|       No| 15.1|
|2008-12-07|  Albury|   14.3|     25|       0|       50|         49|         19|   18.1|   24.6|       No| 10.7|
|2008-12-08|  Albury|    7.7|   26.7|       0|       35|         48|         19|   16.3|   25.5|       No| 19.0|
|2008-12-09|  Albury|    9.7|   31.9|       0|       80|         42|          9|   18.3|   30.2|       No| 22.2|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       28|         58|         27|   20.1|   28.2|      Yes| 17.0|
|2008-12-11|  Albury|   13.4|   30.4|       0|       30|         48|         22|   20.4|   28.8|       No| 17.0|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-15|  Albury|    8.4|   24.6|       0|     NULL|         57|         32|   15.9|   23.5|       No| 16.2|
|2008-12-16|  Albury|    9.8|   27.7|    NULL|       50|         50|         28|   17.3|   26.2|     NULL| 17.9|
|2008-12-17|  Albury|   14.1|   20.9|       0|       22|         69|         82|   17.2|   18.1|       No|  6.8|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       43|         47|         32|   15.5|     21|      Yes| 11.3|
|2008-12-20|  Albury|    9.8|   25.6|       0|       26|         45|         26|   15.8|   23.2|       No| 15.8|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

In [116]:
# Dropping missing values
df_spark.na.drop().show()

+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       44|         71|         22|   16.9|   21.8|       No|  9.5|
|2008-12-02|  Albury|    7.4|   25.1|       0|       44|         44|         25|   17.2|   24.3|       No| 17.7|
|2008-12-03|  Albury|   12.9|   25.7|       0|       46|         38|         30|     21|   23.2|       No| 12.8|
|2008-12-04|  Albury|    9.2|     28|       0|       24|         45|         16|   18.1|   26.5|       No| 18.8|
|2008-12-05|  Albury|   17.5|   32.3|       1|       41|         82|         33|   17.8|   29.7|       No| 14.8|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       56|         55|         23|   20.6|   28.9|       No| 15.1|
|2008-12-07|  Albury|   14.3|     25|       0|       50|         49|         19|   18.1|   24.6|       No| 10.7|
|2008-12-08|  Albury|    7.7|   26.7|       0|       35|         48|         19|   16.3|   25.5|       No| 19.0|
|2008-12-09|  Albury|    9.7|   31.9|       0|       80|         42|          9|   18.3|   30.2|       No| 22.2|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       28|         58|         27|   20.1|   28.2|      Yes| 17.0|
|2008-12-11|  Albury|   13.4|   30.4|       0|       30|         48|         22|   20.4|   28.8|       No| 17.0|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-17|  Albury|   14.1|   20.9|       0|       22|         69|         82|   17.2|   18.1|       No|  6.8|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       43|         47|         32|   15.5|     21|      Yes| 11.3|
|2008-12-20|  Albury|    9.8|   25.6|       0|       26|         45|         26|   15.8|   23.2|       No| 15.8|
|2008-12-21|  Albury|   11.5|   29.3|       0|       24|         56|         28|   19.1|   27.3|       No| 17.8|
|2008-12-22|  Albury|   17.1|     33|       0|       43|         38|         28|   24.5|   31.6|       No| 15.9|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

In [117]:
df_spark.na.drop(subset=['WindSpeed']).show()

+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       44|         71|         22|   16.9|   21.8|       No|  9.5|
|2008-12-02|  Albury|    7.4|   25.1|       0|       44|         44|         25|   17.2|   24.3|       No| 17.7|
|2008-12-03|  Albury|   12.9|   25.7|       0|       46|         38|         30|     21|   23.2|       No| 12.8|
|2008-12-04|  Albury|    9.2|     28|       0|       24|         45|         16|   18.1|   26.5|       No| 18.8|
|2008-12-05|  Albury|   17.5|   32.3|       1|       41|         82|         33|   17.8|   29.7|       No| 14.8|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       56|         55|         23|   20.6|   28.9|       No| 15.1|
|2008-12-07|  Albury|   14.3|     25|       0|       50|         49|         19|   18.1|   24.6|       No| 10.7|
|2008-12-08|  Albury|    7.7|   26.7|       0|       35|         48|         19|   16.3|   25.5|       No| 19.0|
|2008-12-09|  Albury|    9.7|   31.9|       0|       80|         42|          9|   18.3|   30.2|       No| 22.2|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       28|         58|         27|   20.1|   28.2|      Yes| 17.0|
|2008-12-11|  Albury|   13.4|   30.4|       0|       30|         48|         22|   20.4|   28.8|       No| 17.0|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-16|  Albury|    9.8|   27.7|    NULL|       50|         50|         28|   17.3|   26.2|     NULL| 17.9|
|2008-12-17|  Albury|   14.1|   20.9|       0|       22|         69|         82|   17.2|   18.1|       No|  6.8|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       43|         47|         32|   15.5|     21|      Yes| 11.3|
|2008-12-20|  Albury|    9.8|   25.6|       0|       26|         45|         26|   15.8|   23.2|       No| 15.8|
|2008-12-21|  Albury|   11.5|   29.3|       0|       24|         56|         28|   19.1|   27.3|       No| 17.8|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

### Fill NA

In [121]:
df_spark.na.fill('0', subset=['Rainfall', 'WindSpeed']).show()

+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       44|         71|         22|   16.9|   21.8|       No|  9.5|
|2008-12-02|  Albury|    7.4|   25.1|       0|       44|         44|         25|   17.2|   24.3|       No| 17.7|
|2008-12-03|  Albury|   12.9|   25.7|       0|       46|         38|         30|     21|   23.2|       No| 12.8|
|2008-12-04|  Albury|    9.2|     28|       0|       24|         45|         16|   18.1|   26.5|       No| 18.8|
|2008-12-05|  Albury|   17.5|   32.3|       1|       41|         82|         33|   17.8|   29.7|       No| 14.8|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       56|         55|         23|   20.6|   28.9|       No| 15.1|
|2008-12-07|  Albury|   14.3|     25|       0|       50|         49|         19|   18.1|   24.6|       No| 10.7|
|2008-12-08|  Albury|    7.7|   26.7|       0|       35|         48|         19|   16.3|   25.5|       No| 19.0|
|2008-12-09|  Albury|    9.7|   31.9|       0|       80|         42|          9|   18.3|   30.2|       No| 22.2|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       28|         58|         27|   20.1|   28.2|      Yes| 17.0|
|2008-12-11|  Albury|   13.4|   30.4|       0|       30|         48|         22|   20.4|   28.8|       No| 17.0|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-15|  Albury|    8.4|   24.6|       0|        0|         57|         32|   15.9|   23.5|       No| 16.2|
|2008-12-16|  Albury|    9.8|   27.7|       0|       50|         50|         28|   17.3|   26.2|     NULL| 17.9|
|2008-12-17|  Albury|   14.1|   20.9|       0|       22|         69|         82|   17.2|   18.1|       No|  6.8|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       43|         47|         32|   15.5|     21|      Yes| 11.3|
|2008-12-20|  Albury|    9.8|   25.6|       0|       26|         45|         26|   15.8|   23.2|       No| 15.8|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

### Fill NA using Data Imputation

In [138]:
from pyspark.sql.functions import mean as _mean, col
import numpy as np

df_stats = df_spark.select(
    _mean(col('Rainfall')).alias('R_mean')
).collect()

mean = np.round(df_stats[0]['R_mean'],2)
print(mean)

df_spark.na.fill(str(mean), subset=['Rainfall']).show()

2.36
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-01|  Albury|   13.4|   22.9|     0.6|       44|         71|         22|   16.9|   21.8|       No|  9.5|
|2008-12-02|  Albury|    7.4|   25.1|       0|       44|         44|         25|   17.2|   24.3|       No| 17.7|
|2008-12-03|  Albury|   12.9|   25.7|       0|       46|         38|         30|     21|   23.2|       No| 12.8|
|2008-12-04|  Albury|    9.2|     28|       0|       24|         45|         16|   18.1|   26.5|       No| 18.8|
|2008-12-05|  Albury|   17.5|   32.3|       1|       41|         82|         33|   17.8|   29.7|       No| 14.8|
|2008-12-06|  Albury|   14.6|   29.7|     0.2|       56|         55|         23|   20.6|   28.9|       No| 15.1|
|2008-12-07|  Albury|   14.3|     25|       0|       50|         49|         19|   18.1|   24.6|       No| 10.7|
|2008-12-08|  Albury|    7.7|   26.7|       0|       35|         48|         19|   16.3|   25.5|       No| 19.0|
|2008-12-09|  Albury|    9.7|   31.9|       0|       80|         42|          9|   18.3|   30.2|       No| 22.2|
|2008-12-10|  Albury|   13.1|   30.1|     1.4|       28|         58|         27|   20.1|   28.2|      Yes| 17.0|
|2008-12-11|  Albury|   13.4|   30.4|       0|       30|         48|         22|   20.4|   28.8|       No| 17.0|
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-15|  Albury|    8.4|   24.6|       0|     NULL|         57|         32|   15.9|   23.5|       No| 16.2|
|2008-12-16|  Albury|    9.8|   27.7|    2.36|       50|         50|         28|   17.3|   26.2|     NULL| 17.9|
|2008-12-17|  Albury|   14.1|   20.9|       0|       22|         69|         82|   17.2|   18.1|       No|  6.8|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2008-12-19|  Albury|   11.2|   22.5|    10.6|       43|         47|         32|   15.5|     21|      Yes| 11.3|
|2008-12-20|  Albury|    9.8|   25.6|       0|       26|         45|         26|   15.8|   23.2|       No| 15.8|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

### Filter Operations

In [148]:
# this is like pandas df.query
df_spark.filter("(MaxTemp - MinTemp) < 10 and RainToday = 'Yes'").show()

+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2009-03-13|  Albury|   17.1|   25.8|     5.8|       31|         82|         68|     19|   23.8|      Yes|  8.7|
|2009-03-15|  Albury|     10|   19.7|    11.6|       39|         62|         41|   12.7|   18.3|      Yes|  9.7|
|2009-04-03|  Albury|   18.4|   28.1|     8.6|       98|         92|         49|     19|   27.4|      Yes|  9.7|
|2009-04-25|  Albury|   12.9|   15.8|      20|       70|         83|         89|   13.3|   14.5|      Yes|  2.9|
|2009-04-26|  Albury|    8.6|   12.9|      21|       63|         77|         62|    9.5|   11.6|      Yes|  4.3|
|2009-04-27|  Albury|    4.5|   11.5|     3.2|       26|         82|         79|    7.6|    9.4|      Yes|  7.0|
|2009-04-28|  Albury|    7.6|   14.5|     4.8|       35|         83|         48|   10.1|     14|      Yes|  6.9|
|2009-05-16|  Albury|   12.4|   16.4|     1.8|       52|         82|         54|     13|   14.5|      Yes|  4.0|
|2009-05-26|  Albury|   11.6|   18.1|     4.2|       19|         97|         74|   13.6|   17.4|      Yes|  6.5|
|2009-06-01|  Albury|      8|   14.3|     1.2|       13|         88|         75|    9.2|     14|      Yes|  6.3|
|2009-06-02|  Albury|    8.4|   13.4|     1.4|       13|         78|         75|   10.6|   13.4|      Yes|  5.0|
|2009-06-03|  Albury|   10.6|   14.3|     4.8|       13|         85|         97|   12.4|     13|      Yes|  3.7|
|2009-06-04|  Albury|    8.9|   17.4|       8|       13|         99|         58|   11.3|   16.5|      Yes|  8.5|
|2009-06-07|  Albury|    4.7|   11.6|    14.4|       30|         93|         80|     10|   11.5|      Yes|  6.9|
|2009-06-08|  Albury|      9|     12|     4.6|       33|         88|         79|   10.3|   11.4|      Yes|  3.0|
|2009-06-09|  Albury|    6.3|    8.8|       2|       43|         92|         95|    6.8|    7.9|      Yes|  2.5|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

In [151]:
# this is like pandas df mask and filter
df_spark.filter((df_spark['Range'] < 10) & (df_spark['RainToday']=='Yes')).show()

+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|      Date|Location|MinTemp|MaxTemp|Rainfall|Windspeed|Humidity9am|Humidity3pm|Temp9am|Temp3pm|RainToday|Range|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
|2008-12-12|  Albury|   15.9|   21.7|     2.2|       31|         89|         91|   15.9|     17|      Yes|  5.8|
|2008-12-13|  Albury|   15.9|   18.6|    15.6|       61|         76|         93|   17.4|   15.8|      Yes|  2.7|
|2008-12-14|  Albury|   12.6|     21|     3.6|       44|         65|         43|   15.8|   19.8|      Yes|  8.4|
|2008-12-18|  Albury|   13.5|   22.9|    16.8|       63|         80|         65|     18|   21.5|      Yes|  9.4|
|2009-03-13|  Albury|   17.1|   25.8|     5.8|       31|         82|         68|     19|   23.8|      Yes|  8.7|
|2009-03-15|  Albury|     10|   19.7|    11.6|       39|         62|         41|   12.7|   18.3|      Yes|  9.7|
|2009-04-03|  Albury|   18.4|   28.1|     8.6|       98|         92|         49|     19|   27.4|      Yes|  9.7|
|2009-04-25|  Albury|   12.9|   15.8|      20|       70|         83|         89|   13.3|   14.5|      Yes|  2.9|
|2009-04-26|  Albury|    8.6|   12.9|      21|       63|         77|         62|    9.5|   11.6|      Yes|  4.3|
|2009-04-27|  Albury|    4.5|   11.5|     3.2|       26|         82|         79|    7.6|    9.4|      Yes|  7.0|
|2009-04-28|  Albury|    7.6|   14.5|     4.8|       35|         83|         48|   10.1|     14|      Yes|  6.9|
|2009-05-16|  Albury|   12.4|   16.4|     1.8|       52|         82|         54|     13|   14.5|      Yes|  4.0|
|2009-05-26|  Albury|   11.6|   18.1|     4.2|       19|         97|         74|   13.6|   17.4|      Yes|  6.5|
|2009-06-01|  Albury|      8|   14.3|     1.2|       13|         88|         75|    9.2|     14|      Yes|  6.3|
|2009-06-02|  Albury|    8.4|   13.4|     1.4|       13|         78|         75|   10.6|   13.4|      Yes|  5.0|
|2009-06-03|  Albury|   10.6|   14.3|     4.8|       13|         85|         97|   12.4|     13|      Yes|  3.7|
|2009-06-04|  Albury|    8.9|   17.4|       8|       13|         99|         58|   11.3|   16.5|      Yes|  8.5|
|2009-06-07|  Albury|    4.7|   11.6|    14.4|       30|         93|         80|     10|   11.5|      Yes|  6.9|
|2009-06-08|  Albury|      9|     12|     4.6|       33|         88|         79|   10.3|   11.4|      Yes|  3.0|
|2009-06-09|  Albury|    6.3|    8.8|       2|       43|         92|         95|    6.8|    7.9|      Yes|  2.5|
+----------+--------+-------+-------+--------+---------+-----------+-----------+-------+-------+---------+-----+
only showing top 20 rows

#### Changing column datatype

In [155]:
df_spark = df_spark.withColumn("Rainfall", df_spark["Rainfall"].cast("integer"))
df_spark = df_spark.withColumn("MinTemp", df_spark["MinTemp"].cast("integer"))
df_spark = df_spark.withColumn("MaxTemp", df_spark["MaxTemp"].cast("integer"))

#### GroupBy

In [156]:
df_spark.groupBy('Location').mean().show()

+-------------+------------------+------------------+------------------+------------------+
|     Location|      avg(MinTemp)|      avg(MaxTemp)|     avg(Rainfall)|        avg(Range)|
+-------------+------------------+------------------+------------------+------------------+
|NorfolkIsland|16.428523936170212| 21.38630319148936|2.9244264507422404| 4.960558696375118|
|        Cobar|12.703962703962704|25.428809048569526|1.0508701472556894|12.728038628038636|
|SydneyAirport|14.449800531914894|22.939182452642072|2.8722129783693844| 8.480784574468103|
|   Wollongong|14.481322314049587| 21.01518653020799|3.4617706237424546|  6.52694472029129|
|  Williamtown|12.339541070834718|23.559880239520957| 3.446925186055621| 11.22919440745671|
|        Moree|12.469571000997671|26.497507477567297|1.5525578135949545|14.041104090455608|
|       Sydney|14.418263473053893|22.552663076002393| 3.177404854659874|  8.13668763102727|
|BadgerysCreek|10.682475613858056|23.586577181208053|2.0737704918032787|12.892686215032011|
|       Albury| 9.114229118520964|22.185209640145263| 1.791763533709731|13.112082092022519|
|   WaggaWagga| 9.220006646726487|22.588899966766366|1.6001344086021505|13.414689265536706|
| CoffsHarbour| 13.98496993987976|23.525418060200668| 4.902472062309516|  9.53230666220287|
|      Penrith|12.129857190302225| 24.30822826808228|2.0435222672064777|12.195268243918711|
|    NorahHead|14.900470746469402|22.132817753866846| 3.230112666439058| 7.230637007077879|
|    Newcastle|13.349053100631266|23.699001426533524|3.0480541455160743|10.413006230529597|
|     Richmond|10.937771830043493|24.007679465776295|2.0118603863097255| 13.08362357669121|
|      Bendigo| 8.183673469387756|21.177265238879738|1.4940672379696769|13.024686882003989|
|     Canberra| 6.522740524781341| 20.53189630061171| 1.636337039204213|14.139060676779454|
|      Mildura| 10.30109670987039| 24.39248919906946|0.8742933155969405|14.109371884346961|
|     Portland| 9.132666666666667| 17.60472074468085| 2.302069425901202| 8.467389129709908|
|     Brisbane|15.972361809045227| 25.99213589178987|3.0170832015185067|10.023518284993715|
+-------------+------------------+------------------+------------------+------------------+
only showing top 20 rows